.navbar {
    width: 100%;
    height: 70px;
    background: #5F6E96;
    /* border-bottom: 1px solid #555; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container span {
    font-weight: 500;
    font-size: x-large;
    color: black;
    cursor: pointer;
    margin-left: 80px;
}

.logo-container a {
    font-weight: 500;
    font-size: x-large;
    color: black;
    cursor: pointer;
}

.links-container {
    width: 300px;
    display:flex;
    justify-content: space-evenly;
}

.links a {
    text-decoration: none;
    color: black;
}

.links a:hover {
    text-decoration: none;
    /*color:rgba(121, 119, 188, 0.5);*/
    color: white;
}