.navbar {
    width: 100%;
    height: 70px;
    background: #0066C9;
    /* border-bottom: 1px solid #555; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-link {
    background: #DFDFDF;
    color: #DFDFDF;
}

.align-items-end {
    align-items: flex-end;
}

.logo-container span {
    font-weight: 500;
    font-size: x-large;
    color: black;
    cursor: pointer;
    margin-left: 80px;
}

.logo-container a {
    font-weight: 500;
    font-size: x-large;
    position:"absolute";
    bottom:"0px";
    color: #FFFFFF;
    cursor: pointer;
}

.logo-container p {
    font-weight: 500;
    font-size: medium;
    align-items: center;
    bottom:"0px";
    color: #FFFFFF;
    text-align: right;
}

.logo-container myImg {
    height: 70px;
    max-width: 70px;
}

.links-container {
    width: 300px;
    display:flex;
    justify-content: space-evenly;
}

.links a {
    text-decoration: none;
    color: white;
}

.links a:hover {
    text-decoration: none;
    /*color:rgba(121, 119, 188, 0.5);*/
    color: black;
}
