.table {
    width: 60%;
    height: 60%;
    margin: 0 0 1.5rem 0;
    margin-left: 30px;
}

.title {
    font-weight: 500;
    font-size: x-large;
    color: black;
}

.header {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 2px solid #dedede;
}

.horizontal-line {
    background: "#47B5FF";
    height: "2px";
    border: "none";
}

.table-item td {
    text-align: center;
}

.table-responsive {
    max-height: 550px;
    overflow-y: auto;
}

.table-responsive th {
    text-align: center;
    font-size: large;
    position: sticky; 
    top: 0; 
}

.table-responsive td {
    text-align: center;
}

.greyModal {
    opacity: 0.7;
    background-color: grey;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
  
.modalContent {
    opacity: 1;
    position: fixed;
    width: 75%;
    left: 50%;
    margin-left: -37.5%;
    height:100px;
    background-color: white;
    border: solid 4px black;
    border-color: black;
}

.color-box span {
    border: 1px solid rgb(204, 204, 204);
    padding: 2px;
    padding-left: 25px;
    margin: 0px;
    margin-right: 10px;
    border-radius: 3px;
}

.color-box {
    border: 1px #aaa solid;
    padding: 6px;
    padding-right: 100px;
    border-radius: 3px;
    -moz-box-shadow: inset 0 0 2px 0 #888;
    -webkit-box-shadow: inset 0 0 2px 0 #888;
    box-shadow: inset 0 0 1px 0 #888;
}

.blue-box {
    background-color: #0088cc;
}